@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */

@layer components {
  .bg-skew {
    position: relative;
    z-index: 2;
  }

  .bg-skew:before {
    position: absolute;
    top: calc(100% - 7rem);
    left: 0;
    right: 0;
    z-index: -1;
    content: '';
    height: 14rem;
    transform: skewY(-5deg);
  }

  .bg-skew.bg-purple:before {
    background-color: #511C6C;
  }
}
